<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logrelease" xsi:type="File"
        layout="${longdate} ${message}"
        fileName="logs.txt"
        keepFileOpen="false"
        encoding="iso-8859-2" />
    <target name="logbeta" xsi:type="File"
        layout="${longdate} ${message}"
        fileName="logs/log${shortdate}.txt"
        keepFileOpen="false"
        encoding="iso-8859-2" />
</targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logbeta" />
  </rules>
</nlog>