<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net452" />
  <package id="LiveCharts" version="0.7.17" targetFramework="net452" />
  <package id="LiveCharts.Wpf" version="0.7.17" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net452" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net452" />
  <package id="MaterialDesignThemes" version="2.3.1.953" targetFramework="net452" />
  <package id="MaterialIcons" version="1.0.3" targetFramework="net452" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net452" />
  <package id="ModernUICharts" version="1.0.0" targetFramework="net452" />
  <package id="MvvmLightLibs" version="5.3.0.0" targetFramework="net452" />
  <package id="NLog" version="4.4.12" targetFramework="net452" />
  <package id="SciChart.Wpf.UI.Transitionz" version="1.0.4" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.105.2" targetFramework="net452" />
  <package id="WpfLocalizeExtension" version="2.3.2" targetFramework="net452" />
  <package id="XAMLMarkupExtensions" version="1.2.1.3" targetFramework="net452" />
</packages>